.App {
    text-align: center;
}

.banana {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .banana {
        animation: App-logo-spin infinite 20s linear;
    }
}

.strawberry {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .strawberry {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.h1 {
    font-size: 30 px;
    color: black;
}

.button {
    background-color: #4CAF50;
    border-radius: 4px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.button2 {
    background-color: #FFB6C1;
    border-radius: 4px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.button3 {
    background-color: #FFB6C1;
    border-radius: 4px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.f {
    color: black;
}